<h2>New Pokemon</h2>

<form action="/pokemons" method="post">
  <!-- <input type="hidden" name="_method" value="put"> -->

  <label for="pokemon[name]">name:</label>
  <input name="pokemon[name]">

  <label for="pokemon[cp]">cp:</label>
  <input name="pokemon[cp]">

  <label for="pokemon[poke_type]">type:</label>
  <input name="pokemon[poke_type]">

  <label for="pokemon[img_url]">photo:</label>
  <input name="pokemon[img_url]">

  <input type="submit" value="Create">
</form>
