<html>
  <head>
    <title>Pokenatra</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Pokenatra</h1>
    <nav>
      <a href="/pokemon">Pokemon</a>
    </nav>
    <%= yield %>
  </body>
</html>
